body
{
	background-color: gray;
}

.block
{
    display: block;
    width: 150px;
    height: 150px;
    background-color: blue;
    opacity: 1;
	transition: opacity 1s;
}

.red
{
    background-color: red;
}

body.loading .block
{
	opacity: 0;
    transition-delay: 0s;
}

.tab
{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70vh;
    background-color: #c0c0c0;
    color: white;
    font-size: 30px;
    transform: translateY(100%);
    transition: transform 1s;
}

.tab-1
{
    background-color: #999;
}

.tab-2
{
    height: 30vh;
}

.active-tab
{
    z-index: 9999;
    transform: translateY(0);
}