body
{
	background-color: gray;
}

.block
{
    display: block;
    width: 150px;
    height: 150px;
    background-color: blue;
    opacity: 1;
	transition: opacity 1.25s;
}

body.loading .block
{
	opacity: 0;
    transition-delay: 0s;
}